{extend name='public/base' /}

{block name='seo'}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content={$keywords|default='关键词'}>
<meta name="description" content={$description|default='描述信息'}>

{/block}

{block name='header'}
{include file='public/header' /}
{/block}

{block name='menu'}
{include file='public/menu' /}
{/block}

{block name='content'}


<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 删除的用户<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><button  id="alldel" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</button> <a href="javascript:;" onclick="member_allback(this,'1')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe66b;</i> 批量恢复</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
			<div class="mt-20">
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="9">管理员列表</th>
					</tr>
					<tr class="text-c">						
						<th width="40">ID</th>
						<th width="100">用户名</th>
						<th width="150">邮箱</th>
						<th width="100">角色</th>
						<th width="130">删除时间</th>
						<th width="70">状态</th>
						
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name='list' id='vo' }
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td>{$vo.name}</td>
						<td>{$vo.email}</td>
						<td>{$vo.role}</td>
						<td>{$vo.delete_time}</td>
						<td class="td-status"><span class="label label-danger radius">已删除</span></td>
						<td class="td-manage">

						<a title="还原" href="javascript:;" onclick="member_huanyuan(this,{$vo.id})" style="text-decoration:none"><i class="Hui-iconfont">&#xe66b;</i></a> 

						<a title="删除" href="javascript:;" onclick="member_del(this,{$vo.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>

						</td>

					</tr>
					{/volist}
				</tbody>
			</table>
			</div>
		</article>
	</div>
</section>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/votables/1.10.0/jquery.voTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').voTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});

/*用户-还原*/
function member_huanyuan(obj,id){
	layer.confirm('确认要还原吗？',function(index){

		$.get("{:url('admin/unDelete')}",{id:id});
		//删掉该行
		$(obj).parents("tr").remove();
		layer.msg('已还原!',{icon: 6,time:1000});
	});

}


/*彻底删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){

		$.get("{:url('admin/pack')}",{id:id});
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}

</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>