<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 学生管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('student/studentlist')}" title="学生列表">学生列表</a></li>
					<li><a href="{:url('student/alreadyDeleteList')}" title="已删除用户">已删除用户</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 教师管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('teacher/teacherlist')}" title="教师管理">教师列表</a></li>
					<li><a href="{:url('teacher/alreadyDeleteList')}" title="已删除用户">已删除用户</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 班级管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('grade/gradelist')}" title="班级管理">班级列表</a></li>
					<li><a href="{:url('grade/alreadyDeleteList')}" title="已删除班级">已删除班级</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					{if condition="$Request.session.admin_info.name eq 'admin'
					"}	
					<li><a href="{:url('admin/adminlist')}" title="管理员列表">管理员列表</a></li>	
					<li><a href="{:url('admin/alreadyDeleteList')}" title="已删除用户">已删除用户</a></li>		
					{else /}
					<li><a href="{:url('admin/adminlist')}" title="个人信息">个人信息</a></li>
					{/if}
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>